<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="gtest" value="D:\Trabajo\geEngine2017\bin/x64/geUtility_UnitTestd.exe" />
        <add key="gtest-params" value="" />
        <add key="gtest-filters" value="" />
        <add key="gtest-startupFolder" value="D:\Trabajo\geEngine2017\Bin" />
    </appSettings>
</configuration>